
 <header class="ae-container-fluid ae-container-fluid--full rk-header ">
  <input class="rk-mobile-menu" id="mobile-menu" type="checkbox">
  <label for="mobile-menu">
    <svg>
      <use xlink:href="assets/img/symbols.svg#bar"></use>
    </svg>
    <svg>
      <use xlink:href="assets/img/symbols.svg#bar"></use>
    </svg>
    <svg>
      <use xlink:href="assets/img/symbols.svg#bar"></use>
    </svg>
  </label>
  <div class="ae-container-fluid rk-topbar">
    <h1 class="rk-logo"><a href="index.html">urku portfolio<sup>tm</sup></a></h1>
    <nav class="rk-navigation">
      <ul class="rk-menu">
        <li class="rk-menu__item"><a class="rk-menu__link" href="index.html">Home</a>
        </li>
        <li class="active rk-menu__item"><a class="rk-menu__link" href="portfolio.html">Portfolio</a>
        </li>
        <li class="rk-menu__item"><a class="rk-menu__link" href="blog.html">Blog</a>
        </li>
        <li class="rk-menu__item"><a class="rk-menu__link" href="#0">Pages</a>
          <nav class="rk-menu__sub">
            <ul class="rk-container">
              <li class="rk-menu__item"><a class="rk-menu__link" href="about.html">About</a></li>
              <li class="rk-menu__item"><a class="rk-menu__link" href="documentation.html">Documentation</a></li>
              <li class="rk-menu__item"><a class="rk-menu__link" href="design-styles.html">Design Styles</a></li>
            </ul>
          </nav>
        </li>
        <li class="rk-menu__item"><a class="rk-menu__link" href="contact.html">Contact Us</a>
        </li>
      </ul>
      <form class="rk-search">
        <input class="rk-search-field" id="urku-search" type="text" placeholder="Search">
        <label for="urku-search">
          <svg>
            <use xlink:href="assets/img/symbols.svg#icon-search"></use>
          </svg>
        </label>
      </form>
    </nav>
  </div>
</header>